<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Critter Gitter</title>
</head>

<body>
    <header>
      <h1>{{title}}</h1>
        <nav>
          <div class="nav-wrap">
            <li><a href="/">Home</a></li>
            <li><a href="/pets">View Pets</a></li>
            {{#if logged_in}}
            <!-- Conditionally render login or logout links -->
            <li><a href="/profile">Profile</a></li>
              <button class="no-button" id="logout">Logout</button>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
          </div>
        </nav>
    </header>

    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
          {{{ body }}}
    </main>

    <footer>
      <p>{{footer}}</p>
    </footer>
  

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  
</body>
</html>
