<!-- Loop over each object in the projects array -->
<div class="header">
  
    <div class="hero-text">
    
      <h2>Welcome to Critter Gitter!</h2>
      <p>The place to find you a creature-pal</p>
    </div>
    {{!-- <img src="../images/Raccoon-Wallpaper-HD-78014.jpg" alt="raccoon wallpaper"> --}}
</div>

