<!-- Loop over each object in the projects array -->
<div class="header">
  <div class="hero-image">
    <div class="hero-text">
    
      <h2>Welcome to Critter Gitter!</h2>
      <p>The place to find you a creature-pal</p>
      {{#if img_src}}
      <img src="{{{img_src}}}" alt=""/>
      {{/if}}
        {{!-- <br> --}}
      {{!-- <img src="images/gfg.png" alt="" style="border: 5px inset black;"> --}}
    </div>
  </div>
</div>

 {{!-- <h1>Display Dynamic Images Using Handlebars In NodeJS</h1> <br> --}}
  {{!-- <div class="row">
  {{#each imageList}}
  <div class="col-md-4">
      <div class="text-success" style="font-size: large;
            font-weight: 700;">{{this.name}}</div>
         <img src="{{this.src}}">
      </div>
      {{/each}} --}}

