<body>
  <h1>Available Critter List</h1>
    <div>
      <ul class="pet-list-container"></ul>
        {{#each pets}}
        <li class="critter-cards">
          <h2>{{name}}</h2>
          <p><strong>Species:</strong> {{species}}</p>
        </li>
        {{/each}} 
    </div>
</body>






